@use "./variables.scss" as v;

.about {
  padding: 1em 0;
  // background-color: v.$clr-black;
  background-color: lighten(v.$clr-black, 10);
  color: v.$clr-white;

  h2 {
    text-align: center;
    font-size: 2.3rem;
    margin: 1.2em 0;
    text-transform: capitalize;
  }

  .wrapper {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1em;

      & > * {
        flex: 1;

        h4 {
          font-size: 2rem;
          margin-bottom: 0.5em;
          text-decoration: underline;
        }

        p {
          line-height: 1.5em;
          margin: 0.6em 0;
        }
      }
      .image {
        height: 400px;
        max-height: 450px;
        display: grid;
        place-content: center;

        img {
          width: inherit;
          height: inherit;
          object-fit: contain;
        }
      }
    }
  }
}

.legal {
  h2 {
    font-size: 2rem;
    padding: 0.2em 1rem;
    border-left: 4px solid v.$clr-red;
    margin: 1em 0;
  }

  small {
    color: v.$clr-red;
    font-weight: v.$fw-medium;
    margin: 0.5em;
  }

  p {
    margin: 0.6em 0;
    line-height: 1.5em;

    span {
      font-weight: v.$fw-bold;
      font-size: 1.05rem;
    }
  }

  h3,
  h4 {
    margin: 1em 0;
  }

  h4 {
    text-decoration: underline;
  }
}
