@use "./variables.scss" as v;

.wrapper {
  max-width: 1440px;
  // max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1em;
}

.btn {
  cursor: pointer;
  padding: 0.5em 1.3em;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 4px;
  background-color: v.$clr-white;
  border: solid 2px v.$clr-black;
  box-shadow: 3px 4px v.$clr-darkCyan;
}
