$ff: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* Colors */
$clr-main: #f4f1e7;
$clr-black: #373534;
$clr-purple: #cc69fa;
$clr-blue: #3b88fb;
$clr-orange: #e07358;
$clr-white: #ffffff;
