@use "./variables.scss" as v;
@use "./utilities.scss";
@use "./components/navbar.scss";
@use "./components/showcase.scss";
@use "./components/menu.scss";
@use "./components/footer.scss";
@use "./components/shortener.scss";
@use "./components/barcode.scss";
@use "./page.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: v.$ff;
  background-color: v.$clr-white;
  color: v.$clr-black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.9rem;
  font-weight: v.$fw-regular;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

input {
  font-family: inherit;
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
}
