@use "../variables.scss" as v;

.footer {
  min-height: 80px;
  overflow: hidden;
  display: grid;
  place-items: center;

  .wrapper {
    width: 100%;
    padding: 2em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    font-weight: v.$fw-medium;
    gap: 2em;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    h3 {
      text-transform: capitalize;
      font-size: 1.2rem;
      color: v.$clr-darkCyan;
      margin-bottom: 0.8em;
    }

    .brand {
      font-size: 1.5rem;
      font-weight: v.$fw-bold;
      margin-bottom: 0.5em;
    }

    ul {
      display: inline-flex;
      flex-direction: column;
      gap: 0.5em;

      li {
        list-style: none;
        transition: transform 0.3s ease-in-out;

        a {
          opacity: 0.8;
        }
        &:hover {
          opacity: 1;
          color: v.$clr-orange;
          transform: translateX(20px);
        }
      }
    }

    .misc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5px;

      > *:not(h3) {
        opacity: 0.8;
        transition: transform 0.3s ease-in-out;

        &:hover {
          opacity: 1;
          color: v.$clr-orange;
          transform: translateX(20px);
        }
      }
    }

    .socials {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;

      a {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-content: center;

        &:hover,
        &:focus {
          color: v.$clr-white;
          background-color: v.$clr-black;
          transition: all 0.3s ease;
        }

        > * {
          font-size: 1.5rem;
        }
      }

      button {
        width: 100%;
        max-width: 150px;
        font-weight: v.$fw-medium;
        text-transform: capitalize;
        border-radius: 5px;
        padding: 0.5em 1em;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: v.$clr-red;
        color: v.$clr-white;

        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }
    }
  }
}
