@use "../variables.scss" as v;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  position: relative;
  z-index: 10;

  .brand {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: v.$fw-bold;

    .blue {
      color: v.$clr-darkCyan;
    }
  }

  .line {
    flex: 1;
    height: 1px;
    background-color: v.$clr-red;
    margin-inline: 3em;
    opacity: 0.5;
  }

  .menu-button {
    position: relative;
    z-index: 1;

    button {
      font-size: 1rem;
      padding: 0.5em 1em;
      border-radius: 8px;
      font-weight: v.$fw-medium;
      color: inherit;
      z-index: 2;
      background-color: transparent;
      text-transform: capitalize;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      z-index: -1;
      display: none;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      display: block;
      background-color: v.$clr-red;
      animation: flow 0.3s forwards ease-in-out;
    }
  }
}

@keyframes flow {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
