@use "../variables.scss" as v;

.showcase {
  background-color: v.$clr-main;
  visibility: hidden;
  min-height: 70vh;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .showcase-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;

    .showcase-caption {
      text-align: left;
      overflow: hidden;
      padding: 1em;

      h4 {
        font-size: 1.8rem;
        opacity: 0.8;
        display: none;
      }

      .caption-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        height: 60px;
        margin: 1.7em 0;

        span {
          height: inherit;
          overflow: hidden;

          h1 {
            display: none;
            font-size: 3.5rem;
            position: relative;
          }
        }
      }

      p {
        max-width: 700px;
        font-size: 1.2rem;
        opacity: 0.96;
        margin-bottom: 2em;

        span {
          font-weight: v.$fw-bold;
          color: v.$clr-orange;
        }
      }

      div:last-child {
        display: flex;
        gap: 2em;
        flex-wrap: wrap;

        button {
          display: none;
        }
      }
    }

    .showcase-img {
      width: 100%;
      max-width: 400px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: grid;
      place-items: center;

      .reveal-img {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: auto;
        background-color: v.$clr-main;
      }
    }
  }
}
